 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2222px;
}

.u-section-1 .u-tabs-1 {
  min-height: 2110px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 2px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 94px auto 0 50px;
}

.u-section-1 .u-image-1 {
  width: 482px;
  height: 404px;
  margin: 0 390px 0 264px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 40px 477px 0 60px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 0px;
  line-height: 1.5;
  margin: 19px 60px 0;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  margin: 92px 477px 0 60px;
}

.u-section-1 .u-text-5 {
  letter-spacing: 0px;
  line-height: 1.7;
  margin: 19px 60px 0;
}

.u-section-1 .u-text-6 {
  font-size: 3rem;
  margin: 50px 477px 0 60px;
}

.u-section-1 .u-text-7 {
  letter-spacing: 0px;
  line-height: 1.7;
  margin: 19px 60px -30px;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 2px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 94px auto 0 50px;
}

.u-section-1 .u-image-2 {
  width: 482px;
  height: 404px;
  margin: 0 390px 0 264px;
}

.u-section-1 .u-text-9 {
  font-size: 3rem;
  margin: 40px 477px 0 60px;
}

.u-section-1 .u-text-10 {
  letter-spacing: 0px;
  line-height: 1.5;
  margin: 19px 60px 0;
}

.u-section-1 .u-text-11 {
  font-size: 3rem;
  margin: 92px 477px 0 60px;
}

.u-section-1 .u-text-12 {
  letter-spacing: 0px;
  line-height: 1.7;
  margin: 19px 60px 0;
}

.u-section-1 .u-text-13 {
  font-size: 3rem;
  margin: 50px 477px 0 60px;
}

.u-section-1 .u-text-14 {
  letter-spacing: 0px;
  line-height: 1.7;
  margin: 19px 60px -30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-right: 290px;
    margin-left: 164px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 728px;
    margin-right: 278px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 22px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 337px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 337px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: 290px;
    margin-left: 164px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 728px;
    margin-right: 278px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 22px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 337px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 337px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: 180px;
    margin-left: 54px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 730px;
    margin-right: 58px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 117px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 117px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 180px;
    margin-left: 54px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 730px;
    margin-right: 58px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 117px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 117px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-tabs-1 {
    min-height: 1982px;
    margin-top: 62px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 54px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 712px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: 54px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 2.25rem;
    margin-top: 712px;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 336px;
    height: 282px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 894px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-2 {
    width: 336px;
    height: 282px;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
    margin-top: 894px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.5rem;
  }
}