 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2222px;
}

.u-section-1 .u-tabs-1 {
  min-height: 2110px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-4 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-5 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-6 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-7 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 64px auto 0 42px;
}

.u-section-1 .u-image-1 {
  width: 530px;
  height: 541px;
  margin: 0 auto 0 256px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 128px 458px 0 63px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 0px;
  line-height: 1.5;
  margin: 34px 0 0 64px;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 44px auto 0 48px;
}

.u-section-1 .u-image-2 {
  width: 808px;
  height: 522px;
  margin: 31px auto 0 160px;
}

.u-section-1 .u-text-5 {
  font-size: 3rem;
  margin: 48px 773px 0 48px;
}

.u-section-1 .u-text-6 {
  line-height: 1.5;
  letter-spacing: normal;
  margin: 19px 35px 0 48px;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 8px 30px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 76px auto 0 35px;
}

.u-section-1 .u-image-3 {
  width: 611px;
  height: 483px;
  margin: -9px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 3rem;
  margin: 54px 457px 0 40px;
}

.u-section-1 .u-text-9 {
  line-height: 1.5;
  margin: 20px 40px 0;
}

.u-section-1 .u-tab-pane-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 40px auto 0 40px;
}

.u-section-1 .u-image-4 {
  width: 672px;
  height: 466px;
  margin: 28px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 891px;
  height: 30px;
  margin: -481px auto 0 72px;
}

.u-section-1 .u-shape-2 {
  width: 891px;
  height: 30px;
  margin: 426px 72px 0 auto;
}

.u-section-1 .u-text-11 {
  font-size: 3rem;
  margin: 67px 746px 0 51px;
}

.u-section-1 .u-text-12 {
  line-height: 1.5;
  margin: 40px auto 0 51px;
}

.u-section-1 .u-tab-pane-5 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-13 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 40px auto 0 40px;
}

.u-section-1 .u-image-5 {
  width: 662px;
  height: 486px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-14 {
  font-size: 3rem;
  margin: 17px 779px 0 40px;
}

.u-section-1 .u-text-15 {
  margin-left: 40px;
  margin-right: auto;
  margin-bottom: 0;
  line-height: 1.5;
}

.u-section-1 .u-tab-pane-6 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-16 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 40px auto 0 40px;
}

.u-section-1 .u-image-6 {
  width: 702px;
  height: 520px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-17 {
  font-size: 3rem;
  margin: 18px 779px 0 40px;
}

.u-section-1 .u-text-18 {
  line-height: 1.7;
  margin: 20px 0 0 31px;
}

.u-section-1 .u-tab-pane-7 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-19 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 40px auto 0 40px;
}

.u-section-1 .u-image-7 {
  width: 672px;
  height: 487px;
  margin: 28px auto 0;
}

.u-section-1 .u-text-20 {
  font-size: 3rem;
  margin: 51px 746px 0 51px;
}

.u-section-1 .u-text-21 {
  line-height: 1.5;
  margin: 40px 11px 0 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 728px;
    margin-right: 278px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 22px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 132px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 621px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 297px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 880px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 880px;
    margin-top: 677px;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: -103px;
    margin-right: 597px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 619px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 619px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-top: 154px;
    margin-right: 597px;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 170px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 730px;
    margin-right: 58px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 465px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 401px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 77px;
  }

  .u-section-1 .u-image-4 {
    width: 660px;
    height: 458px;
  }

  .u-section-1 .u-shape-1 {
    width: 660px;
    margin-top: -473px;
  }

  .u-section-1 .u-shape-2 {
    width: 660px;
    margin-top: 1065px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -484px;
    margin-right: 377px;
  }

  .u-section-1 .u-image-5 {
    width: 660px;
    height: 484px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 399px;
  }

  .u-section-1 .u-image-6 {
    width: 660px;
    height: 489px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 399px;
  }

  .u-section-1 .u-image-7 {
    width: 660px;
    height: 478px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 149px;
    margin-right: 377px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-tabs-1 {
    min-height: 1982px;
    margin-top: 62px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 531px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 712px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 349px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
    margin-right: 221px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 45px;
  }

  .u-section-1 .u-image-3 {
    width: 520px;
    height: 411px;
    margin-left: 45px;
  }

  .u-section-1 .u-text-8 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 364px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    width: 520px;
    height: 361px;
  }

  .u-section-1 .u-shape-1 {
    width: 520px;
    margin-top: -376px;
  }

  .u-section-1 .u-shape-2 {
    width: 520px;
    margin-top: 1365px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -880px;
    margin-right: 237px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    width: 520px;
    height: 381px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 259px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    width: 520px;
    height: 385px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 259px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    width: 520px;
    height: 377px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 153px;
    margin-right: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 320px;
    height: 327px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 894px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 227px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-right: 21px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 216px;
    margin-right: 6px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
    margin-top: 441px;
    margin-right: 27px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    width: 320px;
    height: 222px;
  }

  .u-section-1 .u-shape-1 {
    width: 320px;
    margin-top: -237px;
  }

  .u-section-1 .u-shape-2 {
    width: 320px;
    margin-top: 2501px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
    margin-top: -2155px;
    margin-right: 37px;
  }

  .u-section-1 .u-image-5 {
    width: 320px;
    height: 234px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.5rem;
    margin-right: 59px;
  }

  .u-section-1 .u-image-6 {
    width: 320px;
    height: 237px;
  }

  .u-section-1 .u-text-17 {
    font-size: 1.5rem;
    margin-right: 59px;
  }

  .u-section-1 .u-image-7 {
    width: 320px;
    height: 232px;
  }

  .u-section-1 .u-text-20 {
    font-size: 1.5rem;
    margin-top: 159px;
    margin-right: 37px;
  }
}