 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2051px;
}

.u-section-1 .u-tabs-1 {
  min-height: 1947px;
  margin-top: 40px;
  margin-bottom: 60px;
  width: 1144px;
  height: auto;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-4 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-5 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-6 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-7 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 64px auto 0 42px;
}

.u-section-1 .u-image-1 {
  width: 509px;
  height: 387px;
  object-position: 50% 0%;
  margin: 9px 427px 0 184px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 43px 946px 0 42px;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  margin: 9px 22px 0 42px;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  margin: 60px 479px 0 42px;
}

.u-section-1 .u-text-5 {
  letter-spacing: 0px;
  line-height: 1.8;
  margin: 21px 22px 0 42px;
}

.u-section-1 .u-text-6 {
  font-size: 3rem;
  margin: 63px 289px 0 34px;
}

.u-section-1 .u-text-7 {
  letter-spacing: 0px;
  line-height: 1.5;
  margin: 20px 29px 0 34px;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 0 auto 0 48px;
}

.u-section-1 .u-image-2 {
  width: 472px;
  height: 317px;
  margin: 27px auto 0 79px;
}

.u-section-1 .u-text-9 {
  font-size: 3rem;
  margin: 63px 960px 0 48px;
}

.u-section-1 .u-text-10 {
  line-height: 1.6;
  margin: 35px 65px 0 44px;
}

.u-section-1 .u-text-11 {
  font-size: 3rem;
  margin: 49px 576px 0 48px;
}

.u-section-1 .u-text-12 {
  line-height: 1.5;
  letter-spacing: normal;
  margin: 35px 35px 0 48px;
}

.u-section-1 .u-text-13 {
  line-height: 2.1;
  margin: 8px 69px 0 48px;
}

.u-section-1 .u-text-14 {
  margin: 17px 69px 0 48px;
}

.u-section-1 .u-text-15 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 11px 303px 0 79px;
}

.u-section-1 .u-text-16 {
  font-size: 3rem;
  margin: 41px 576px 0 48px;
}

.u-section-1 .u-text-17 {
  line-height: 1.6;
  margin: 27px 39px 0;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-18 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 54px auto 0 35px;
}

.u-section-1 .u-image-3 {
  width: 505px;
  height: 303px;
  margin: 24px auto 0 100px;
}

.u-section-1 .u-shape-1 {
  width: 39px;
  height: 303px;
  margin: -303px auto 0 69px;
}

.u-section-1 .u-text-19 {
  font-size: 3rem;
  margin: 35px 913px 0 35px;
}

.u-section-1 .u-text-20 {
  line-height: 1.9;
  margin: 24px 11px 0 35px;
}

.u-section-1 .u-text-21 {
  font-size: 3rem;
  margin: 81px 462px 0 35px;
}

.u-section-1 .u-text-22 {
  line-height: 1.5;
  margin: 35px 11px 0 35px;
}

.u-section-1 .u-text-23 {
  font-size: 3rem;
  margin: 63px 467px 0 35px;
}

.u-section-1 .u-text-24 {
  line-height: 1.5;
  margin: 46px 12px 0 35px;
}

.u-section-1 .u-tab-pane-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-25 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 40px auto 0 40px;
}

.u-section-1 .u-image-4 {
  width: 521px;
  height: 335px;
  margin: 10px auto 0 40px;
}

.u-section-1 .u-text-26 {
  font-size: 3rem;
  margin: 62px 908px 0 40px;
}

.u-section-1 .u-text-27 {
  line-height: 1.5;
  margin: 18px 40px 0;
}

.u-section-1 .u-text-28 {
  font-size: 3rem;
  margin: 62px 757px 0 40px;
}

.u-section-1 .u-text-29 {
  line-height: 1.6;
  margin: 20px 40px 0;
}

.u-section-1 .u-text-30 {
  font-size: 3rem;
  margin: 62px 753px 0 36px;
}

.u-section-1 .u-text-31 {
  line-height: 1.8;
  margin: 36px 45px 0 36px;
}

.u-section-1 .u-tab-pane-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-32 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 40px auto 0 40px;
}

.u-section-1 .u-image-5 {
  width: 500px;
  height: 367px;
  margin: 30px 540px 0 40px;
}

.u-section-1 .u-text-33 {
  font-size: 3rem;
  margin: 62px 908px 0 40px;
}

.u-section-1 .u-text-34 {
  line-height: 1.5;
  margin: 18px 40px 0;
}

.u-section-1 .u-text-35 {
  font-size: 3rem;
  margin: 62px 757px 0 40px;
}

.u-section-1 .u-text-36 {
  line-height: 1.8;
  margin: 20px 40px 0;
}

.u-section-1 .u-text-37 {
  line-height: 2.2;
  margin: 18px 433px 0 62px;
}

.u-section-1 .u-text-38 {
  font-size: 3rem;
  margin: 22px 777px 0 40px;
}

.u-section-1 .u-text-39 {
  line-height: 1.6;
  margin: 20px 40px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-tab-pane-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-1 .u-text-40 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 40px auto 0 70px;
}

.u-section-1 .u-image-6 {
  width: 500px;
  height: 367px;
  margin: 30px 570px 0 70px;
}

.u-section-1 .u-text-41 {
  font-size: 3rem;
  margin: 62px 938px 0 70px;
}

.u-section-1 .u-text-42 {
  line-height: 1.5;
  margin: 18px 70px 0;
}

.u-section-1 .u-text-43 {
  font-size: 3rem;
  margin: 62px 787px 0 70px;
}

.u-section-1 .u-text-44 {
  line-height: 1.8;
  margin: 20px 70px 0;
}

.u-section-1 .u-text-45 {
  font-size: 3rem;
  margin: 38px 749px 0 70px;
}

.u-section-1 .u-text-46 {
  line-height: 1.6;
  margin: 30px 70px 0;
}

.u-section-1 .u-text-47 {
  font-size: 3rem;
  margin: 38px 807px 0 70px;
}

.u-section-1 .u-text-48 {
  line-height: 1.6;
  margin: 20px 70px 0;
}

.u-section-1 .u-tab-pane-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-1 .u-text-49 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 40px auto 0 70px;
}

.u-section-1 .u-image-7 {
  width: 500px;
  height: 367px;
  margin: 30px 570px 0 70px;
}

.u-section-1 .u-text-50 {
  font-size: 3rem;
  margin: 62px 938px 0 70px;
}

.u-section-1 .u-text-51 {
  line-height: 1.5;
  margin: 18px 70px 0;
}

.u-section-1 .u-text-52 {
  font-size: 3rem;
  margin: 62px 787px 0 70px;
}

.u-section-1 .u-text-53 {
  line-height: 1.8;
  margin: 20px 70px 0;
}

.u-section-1 .u-text-54 {
  font-size: 3rem;
  margin: 38px 749px 0 70px;
}

.u-section-1 .u-text-55 {
  line-height: 1.6;
  margin: 30px 70px 0;
}

.u-section-1 .u-text-56 {
  font-size: 3rem;
  margin: 38px 807px 0 70px;
}

.u-section-1 .u-text-57 {
  line-height: 1.6;
  margin: 20px 70px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 327px;
    margin-left: 84px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 784px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 278px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 22px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 342px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 62px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 804px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 420px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 178px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 420px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 35px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 52px;
  }

  .u-section-1 .u-text-19 {
    margin-top: -123px;
    margin-right: 744px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-top: 164px;
    margin-right: 293px;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 298px;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-26 {
    margin-right: 704px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
  }

  .u-section-1 .u-text-28 {
    margin-right: 553px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-30 {
    margin-right: 588px;
    margin-left: 0;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-right: 340px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 704px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 0;
  }

  .u-section-1 .u-text-35 {
    margin-right: 553px;
  }

  .u-section-1 .u-text-36 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-37 {
    margin-right: 291px;
    margin-left: 0;
  }

  .u-section-1 .u-text-38 {
    margin-right: 613px;
    margin-left: 0;
  }

  .u-section-1 .u-text-39 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    margin-right: 370px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 734px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 0;
  }

  .u-section-1 .u-text-43 {
    margin-right: 583px;
  }

  .u-section-1 .u-text-44 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-45 {
    margin-right: 617px;
    margin-left: 0;
  }

  .u-section-1 .u-text-46 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-47 {
    margin-right: 603px;
  }

  .u-section-1 .u-text-48 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    margin-right: 370px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 734px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 0;
  }

  .u-section-1 .u-text-52 {
    margin-right: 583px;
  }

  .u-section-1 .u-text-53 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-54 {
    margin-right: 617px;
    margin-left: 0;
  }

  .u-section-1 .u-text-55 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-56 {
    margin-right: 603px;
  }

  .u-section-1 .u-text-57 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-tabs-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 191px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 564px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 58px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 122px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 119px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 584px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 200px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 200px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 524px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 73px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 78px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 484px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 333px;
  }

  .u-section-1 .u-text-30 {
    margin-top: 92px;
    margin-right: 368px;
  }

  .u-section-1 .u-text-31 {
    margin-top: 76px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 120px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 484px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 333px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 71px;
  }

  .u-section-1 .u-text-38 {
    margin-top: 2px;
    margin-right: 393px;
  }

  .u-section-1 .u-text-39 {
    margin-top: 76px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 363px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 397px;
  }

  .u-section-1 .u-text-46 {
    margin-top: 76px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 383px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 514px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 363px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 397px;
  }

  .u-section-1 .u-text-55 {
    margin-top: 76px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 383px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-tabs-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 11px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 384px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 68px;
  }

  .u-section-1 .u-text-9 {
    font-size: 2.25rem;
    margin-right: 404px;
  }

  .u-section-1 .u-text-11 {
    font-size: 2.25rem;
    margin-right: 20px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-left: 15px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 38px;
  }

  .u-section-1 .u-text-19 {
    font-size: 2.25rem;
    margin-top: -109px;
    margin-right: 384px;
  }

  .u-section-1 .u-text-21 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    width: 520px;
    height: 334px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 344px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 193px;
  }

  .u-section-1 .u-text-30 {
    margin-top: 100px;
    margin-right: 228px;
  }

  .u-section-1 .u-text-31 {
    margin-top: 104px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-33 {
    margin-right: 344px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 193px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 0;
  }

  .u-section-1 .u-text-38 {
    margin-top: -26px;
    margin-right: 253px;
  }

  .u-section-1 .u-text-39 {
    margin-top: 104px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-41 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 183px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 257px;
  }

  .u-section-1 .u-text-46 {
    margin-top: 104px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 203px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-50 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 183px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 257px;
  }

  .u-section-1 .u-text-55 {
    margin-top: 104px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 203px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-tabs-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 182px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 184px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 227px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
    margin-right: 204px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 320px;
    height: 192px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 23px;
  }

  .u-section-1 .u-text-19 {
    font-size: 1.5rem;
    margin-top: -94px;
    margin-right: 184px;
  }

  .u-section-1 .u-text-21 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-23 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-4 {
    width: 320px;
    height: 206px;
  }

  .u-section-1 .u-text-26 {
    font-size: 1.5rem;
    margin-right: 144px;
  }

  .u-section-1 .u-text-28 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-29 {
    margin-top: -9px;
  }

  .u-section-1 .u-text-30 {
    font-size: 1.5rem;
    margin-top: 117px;
    margin-right: 28px;
  }

  .u-section-1 .u-text-31 {
    margin-top: 188px;
  }

  .u-section-1 .u-image-5 {
    width: 320px;
    height: 235px;
  }

  .u-section-1 .u-text-33 {
    font-size: 1.5rem;
    margin-right: 144px;
  }

  .u-section-1 .u-text-35 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-36 {
    margin-top: -9px;
  }

  .u-section-1 .u-text-38 {
    font-size: 1.5rem;
    margin-top: -81px;
    margin-right: 53px;
  }

  .u-section-1 .u-text-39 {
    margin-top: 188px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 250px;
  }

  .u-section-1 .u-text-41 {
    font-size: 1.5rem;
    margin-right: 134px;
  }

  .u-section-1 .u-text-43 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-44 {
    margin-top: -9px;
  }

  .u-section-1 .u-text-45 {
    font-size: 1.5rem;
    margin-right: 57px;
  }

  .u-section-1 .u-text-46 {
    margin-top: 188px;
  }

  .u-section-1 .u-text-47 {
    font-size: 1.5rem;
    margin-right: 3px;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 250px;
  }

  .u-section-1 .u-text-50 {
    font-size: 1.5rem;
    margin-right: 134px;
  }

  .u-section-1 .u-text-52 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-53 {
    margin-top: -9px;
  }

  .u-section-1 .u-text-54 {
    font-size: 1.5rem;
    margin-right: 57px;
  }

  .u-section-1 .u-text-55 {
    margin-top: 188px;
  }

  .u-section-1 .u-text-56 {
    font-size: 1.5rem;
    margin-right: 3px;
  }
}