 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2051px;
}

.u-section-1 .u-tabs-1 {
  min-height: 1947px;
  margin-top: 40px;
  margin-bottom: 60px;
  width: 1144px;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 64px auto 0 42px;
}

.u-section-1 .u-image-1 {
  width: 536px;
  height: 415px;
  object-position: 50% 0%;
  margin: 9px 404px 0 184px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 43px 946px 0 42px;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  margin: 9px 22px 0 42px;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  margin: 60px 479px 0 42px;
}

.u-section-1 .u-text-5 {
  letter-spacing: 0px;
  line-height: 1.5;
  margin: 21px 22px 0 42px;
}

.u-section-1 .u-text-6 {
  font-size: 3rem;
  margin: 63px 903px 0 34px;
}

.u-section-1 .u-text-7 {
  letter-spacing: 0px;
  line-height: 1.5;
  margin: 20px 29px 0 34px;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 54px auto 0 65px;
}

.u-section-1 .u-image-2 {
  width: 530px;
  height: 327px;
  margin: 0 auto 0 130px;
}

.u-section-1 .u-shape-1 {
  width: 39px;
  height: 303px;
  margin: -303px auto 0 99px;
}

.u-section-1 .u-text-9 {
  font-size: 3rem;
  margin: 35px 943px 0 65px;
}

.u-section-1 .u-text-10 {
  line-height: 1.6;
  margin: 24px 41px 0 65px;
}

.u-section-1 .u-text-11 {
  font-size: 3rem;
  margin: 81px 497px 0 65px;
}

.u-section-1 .u-text-12 {
  line-height: 1.7;
  margin: 51px 42px 0 65px;
}

.u-section-1 .u-text-13 {
  font-size: 3rem;
  margin: 41px 128px 0 65px;
}

.u-section-1 .u-text-14 {
  line-height: 1.5;
  margin: 35px 35px 0 65px;
}

.u-section-1 .u-text-15 {
  font-size: 3rem;
  margin: 54px 128px 0 65px;
}

.u-section-1 .u-text-16 {
  margin-left: 65px;
  margin-right: 128px;
  margin-bottom: 0;
  line-height: 1.8;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-17 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 40px auto 0 40px;
}

.u-section-1 .u-image-3 {
  width: 596px;
  height: 350px;
  margin: 10px 448px 0 40px;
}

.u-section-1 .u-text-18 {
  font-size: 3rem;
  margin: 62px 908px 0 40px;
}

.u-section-1 .u-text-19 {
  line-height: 1.5;
  margin: 20px 40px 0;
}

.u-section-1 .u-text-20 {
  font-size: 3rem;
  margin: 60px 757px 0 40px;
}

.u-section-1 .u-text-21 {
  line-height: 1.6;
  margin: 20px 40px 0;
}

.u-section-1 .u-text-22 {
  font-size: 3rem;
  margin: 64px 753px 0 36px;
}

.u-section-1 .u-text-23 {
  line-height: 1.8;
  margin: 34px 41px 0;
}

.u-section-1 .u-text-24 {
  font-size: 3rem;
  margin: 60px 749px 0 40px;
}

.u-section-1 .u-text-25 {
  line-height: 1.8;
  margin: 20px 41px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    height: auto;
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 302px;
    margin-left: 82px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 784px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 278px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 22px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 342px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 62px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 52px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -123px;
    margin-right: 804px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 358px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 48px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-right: 244px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 704px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 553px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 588px;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 585px;
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-tabs-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 164px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 564px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 58px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 122px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 119px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 584px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 138px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-right: 24px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 484px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 333px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 92px;
    margin-right: 368px;
  }

  .u-section-1 .u-text-23 {
    margin-top: 76px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 365px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-tabs-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 402px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 384px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 2.25rem;
    margin-right: 333px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 10px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 38px;
  }

  .u-section-1 .u-text-9 {
    font-size: 2.25rem;
    margin-top: -109px;
    margin-right: 404px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    width: 520px;
    height: 306px;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 344px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 193px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 100px;
    margin-right: 228px;
  }

  .u-section-1 .u-text-23 {
    margin-top: 104px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 225px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-tabs-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 182px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 184px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
    margin-right: 133px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 210px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 23px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
    margin-top: -94px;
    margin-right: 204px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-3 {
    width: 320px;
    height: 188px;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.5rem;
    margin-right: 144px;
  }

  .u-section-1 .u-text-20 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-top: -9px;
  }

  .u-section-1 .u-text-22 {
    font-size: 1.5rem;
    margin-top: 117px;
    margin-right: 28px;
  }

  .u-section-1 .u-text-23 {
    margin-top: 188px;
  }

  .u-section-1 .u-text-24 {
    font-size: 1.5rem;
    margin-right: 25px;
  }
}