 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2051px;
}

.u-section-1 .u-tabs-1 {
  min-height: 1947px;
  width: 1144px;
  height: auto;
  margin: 42px -4px 60px auto;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 64px auto 0 42px;
}

.u-section-1 .u-image-1 {
  width: 572px;
  height: 396px;
  object-position: 50% 0%;
  margin: 9px 368px 0 184px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 43px 946px 0 42px;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  margin: 9px 22px 0 42px;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  margin: 60px 479px 0 42px;
}

.u-section-1 .u-text-5 {
  letter-spacing: 0px;
  line-height: 1.8;
  margin: 21px 22px 0 42px;
}

.u-section-1 .u-text-6 {
  font-size: 3rem;
  margin: 63px 289px 0 34px;
}

.u-section-1 .u-text-7 {
  letter-spacing: 0px;
  line-height: 1.5;
  margin: 20px 29px 0 34px;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 46px auto 0 48px;
}

.u-section-1 .u-image-2 {
  width: 510px;
  height: 335px;
  margin: 39px auto 0 147px;
}

.u-section-1 .u-text-9 {
  font-size: 3rem;
  margin: 91px 933px 0 76px;
}

.u-section-1 .u-text-10 {
  line-height: 1.6;
  margin: 27px 27px 0 82px;
}

.u-section-1 .u-text-11 {
  font-size: 3rem;
  margin: 48px 542px 0 82px;
}

.u-section-1 .u-text-12 {
  line-height: 2.1;
  margin: 27px 35px 0 82px;
}

.u-section-1 .u-text-13 {
  font-size: 3rem;
  margin: 30px 355px 0 82px;
}

.u-section-1 .u-text-14 {
  line-height: 1.6;
  margin: 39px 527px 0 82px;
}

.u-section-1 .u-text-15 {
  font-size: 3rem;
  margin: 76px 542px 0 82px;
}

.u-section-1 .u-text-16 {
  line-height: 2.1;
  margin: 20px 35px 0 82px;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-17 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 54px auto 0 35px;
}

.u-section-1 .u-image-3 {
  width: 536px;
  height: 350px;
  margin: 24px auto 0 100px;
}

.u-section-1 .u-shape-1 {
  width: 39px;
  height: 303px;
  margin: -350px auto 0 69px;
}

.u-section-1 .u-text-18 {
  font-size: 3rem;
  margin: 62px 913px 0 35px;
}

.u-section-1 .u-text-19 {
  line-height: 1.9;
  margin: 42px 11px 0 35px;
}

.u-section-1 .u-text-20 {
  font-size: 3rem;
  margin: 36px 462px 0 35px;
}

.u-section-1 .u-text-21 {
  line-height: 1.5;
  margin: 35px 11px 0 35px;
}

.u-section-1 .u-text-22 {
  font-size: 3rem;
  margin: 63px 716px 0 35px;
}

.u-section-1 .u-text-23 {
  line-height: 1.5;
  margin: 46px 12px 0 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-right: 266px;
    margin-left: 82px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 784px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 278px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 22px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 342px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 62px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 804px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 420px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 233px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 35px;
    margin-right: 405px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 420px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 52px;
  }

  .u-section-1 .u-text-18 {
    margin-top: -123px;
    margin-right: 744px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-top: 164px;
    margin-right: 293px;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 547px;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-tabs-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 128px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 564px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 58px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 122px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 119px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 584px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 200px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 13px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 185px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 200px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 524px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 73px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 327px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-tabs-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 360px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 384px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 30px;
  }

  .u-section-1 .u-text-9 {
    font-size: 2.25rem;
    margin-right: 404px;
  }

  .u-section-1 .u-text-11 {
    font-size: 2.25rem;
    margin-right: 20px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 5px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 520px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 38px;
  }

  .u-section-1 .u-text-18 {
    font-size: 2.25rem;
    margin-top: -109px;
    margin-right: 384px;
  }

  .u-section-1 .u-text-20 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 187px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-tabs-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 182px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 184px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 227px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
    margin-right: 204px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 320px;
    height: 209px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 23px;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.5rem;
    margin-top: -94px;
    margin-right: 184px;
  }

  .u-section-1 .u-text-20 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-22 {
    font-size: 1.5rem;
    margin-right: 0;
  }
}